<div class="blades chat-item">
    <div>
      <h3><div class="flex-horizontal"><span>{{name}}</span><span style="float:right">Inf: {{system.influence_amount}}</span></div></h3>
  
      {{#if img}}
        <img src="{{img}}" title="{{name}}" />
      {{/if}}
  
      {{#if system.description}}
      <div>
        <h4>
          {{localize "BITD.InfluenceTrigger"}}
        </h4>
      </div>
      {{/if}}
      When you <i>{{system.influence_trigger.condition}}</i>, gain 1 XP and grant {{system.influence_trigger.short_name}} 1 influence.

      {{#if system.description}}
        <div>
            <h4>
            {{localize "BITD.Description"}}
            </h4>
        </div>
        {{{system.description}}}
      {{/if}}
  
    </div>
  </div>